ipykernel
pandas
numpy
matplotlib
seaborn
plotly
scikit-learn
imbalanced-learn
xgboost

pymongo
certifi

from_root
dill
joblib

PyYAML
python-box
ensure

boto3
botocore
mypy-boto3-s3

fastapi
uvicorn
python-multipart
jinja2

python-dotenv
